.banner{
    display: flex;
}
.banner img{
    width: 570px;
    
}
/* .resume{
    text-align: right;
} */
.title{
    color: black;
    font-size: 65px;
    font-weight: 600;
}
.title-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}
.btn-primary{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    background-color: #F15B22;
    border-radius: 5px;
    border: 1px solid #F15B22;
    width: 150px;
    height: 50px;
}
.person-img-title{
    display: flex;
}
.second-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.description-ul{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    
}
.resume-again{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person-img{
    background-image: url(<path-to-image>), pink 50% / cover no-repeat;

    
}
.third-title{
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.title-icon{
    display: flex;
    gap: 30px;
}
.title-icon-des{
    width: 900px;
    height: 300px;
    background-color: lightgray;
    margin: 0 auto;

}
/* .title-des{
    text-align: center;
} */

